<header class="intro-header" style="background-image: url('../assets/HNCK9016.jpg');" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 style="color: white; ">About Us</h1>
                    <hr class="small">
                    <span class="subheading">We are who we are, what we are, and when we are </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<h2 class="text-center">
What we do  </h2>
<div class="post-preveiw">
<p class="post-meta text-center">
  We are a set groups of developers  well specialized in Ruby on Rails, PHP, Software managment, Researchers and Journalists. We help you achieve what you want and what you desire with reduced number of risks in the field. We have worked in our different respective job areas and companies so we have all it takes to serve you better

</p>
<h2 class="text-center">
  Contact Us On
</h2>


</p>
</div>
<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <a href="#" class="fh5co-feature to-animate">
        <span class="fh5co-feature-icon"><%= fa_icon "skype" %></span>
        <h3 class="fh5co-feature-lead">Skype   </h3>
        <p class="fh5co-feature-text">here we will interact with you while building your work or respective orders</p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <a href="#" class="fh5co-feature to-animate">
        <span class="fh5co-feature-icon"><%= fa_icon "mobile-phone" %></span>
        <h3 class="fh5co-feature-lead">mobile</h3>
        <p class="fh5co-feature-text">You can contact our mobile for one on one oder requests and questions</p>
      </a>
    </div>
    <div class="clearfix visible-sm-block"></div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <a href="posts/index.html.erb" class="fh5co-feature to-animate">
        <span class="fh5co-feature-icon"><%= fa_icon "envelope" %></span>
        <h3 class="fh5co-feature-lead">E-mail</h3>
        <p class="fh5co-feature-text">you can send us an Email on Whatever probelms and Questions you may Have  </p>
      </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
      <a href="#" class="fh5co-feature to-animate">
        <span class="fh5co-feature-icon"><%= fa_icon "facebook"%></span>
        <h3 class="fh5co-feature-lead">facebook</h3>
        <p class="fh5co-feature-text">Our facebook page exculsive for your order reviews for the world to see how good we are </p>
      </a>
    </div>

    <div class="clearfix visible-sm-block"></div>


      </div>
   </div>


</div>
