<head>
	<!-- Google Webfonts -->
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<style>
	.intro-header{
	  background-image: url('../assets/slide3_bg.jpg');

	}
	</style>
</head>

	<body>
		<header class="intro-header" style="background-image: image-url('slide3_bg.jpg');">
				<div class="container">
						<div class="row">
								<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
										<div class="site-heading">
												<h1>We take your business to the next level</h1>
												<hr class="small">
												<span class="subheading">	Build your dream and acheive your goals today</span>
												<span class="subheading">
													<a href="" class="btn btn-default btn-md"><%= fa_icon "hacker-news" %> Learn How</a>
												</span>
										</div>
								</div>
						</div>
				</div>
		</header>

		<!-- Main Content -->

					<p class="notice"><%= notice %></p>
					<p class="alert"><%= alert %></p>

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead ">Explore amazing offers</h2>
								<p class="fh5co-sub ">We create a wide variety of web apps and mobile apps to suite your buisness needs, we offer a high level of design, research, deepweb-research and production flexibility and we are here for you  </p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<span class="fh5co-feature-icon"><i class="icon-clock"></i></span>
									<h3 class="fh5co-feature-lead">24/7 Support </h3>
									<p class="fh5co-feature-text">We provdie you with a 24/7 skype, ICQ or E-mail Surpport</p>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<span class="fh5co-feature-icon"><%= fa_icon "mobile-phone" %></span>
									<h3 class="fh5co-feature-lead">Fully Responsive</h3>
									<p class="fh5co-feature-text">We develop full responsive apps and easy to use on mobile phone capability</p>
								</a>
							</div>
							<div class="clearfix visible-sm-block"></div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="posts/index.html.erb" class="fh5co-feature to-animate">
									<span class="fh5co-feature-icon"><%= fa_icon "search-plus" %></span>
									<h3 class="fh5co-feature-lead">We Research</h3>
									<p class="fh5co-feature-text">We do deep researches on any topic or keyword we also offer deep web/darknet researches and news with links attached  </p>
								</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12">
								<a href="#" class="fh5co-feature to-animate">
									<span class="fh5co-feature-icon"><i class="icon-mail"></i></span>
									<h3 class="fh5co-feature-lead">Webmail/SMTP</h3>
									<p class="fh5co-feature-text">We sell reliable and configured webmail/SMTP for your email marketing</p>
								</a>
							</div>

							<div class="clearfix visible-sm-block"></div>

							<div class="fh5co-spacer fh5co-spacer-sm"></div>

							<div class="col-md-4 col-md-offset-4 text-center to-animate">
							<%= link_to new_product_path, "View all features", class: "btn btn-default" %>
							</div>
			        	</div>
			       </div>


			    </div>



			    <div id="fh5co-features-2" data-section="design">
					<div class="fh5co-features-2-content" id="learn">
					    <div class="container">
					    	<div class="row">
					    		<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
									<h2 class="fh5co-lead to-animate">Better design</h2>
									<p class="fh5co-sub to-animate">We create neat, minimal, interesting, and adaptive works of art</p>
								</div>
					    		<div class="col-md-4 fh5co-text-wrap">
					    			<div class="row text-center">
						    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-3">
						    				<span class="fh5co-icon"><%= fa_icon "mobile-phone" %>"</span>
											<h4 class="fh5co-uppercase-sm">Cross platform support</h4>
											<p>Our apps are fully cross platform compatible and stable</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-4">
											<span class="fh5co-icon"><%= fa_icon "magic" %></span>
											<h4 class="fh5co-uppercase-sm">Prototyping / Cloning tools</h4>
											<p>We create prototypes of your projects for testing and we can also clone Webapps/sites for educational purpose. Contact Us For More.</p>
										</div>



									</div>
					    		</div>
					    		<div class="col-md-4 col-md-push-4 fh5co-text-wrap">
					    			<div class="row text-center">
						    			<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text">
						    				<span class="fh5co-icon"><%= fa_icon "whatsapp" %></span>
											<h4 class="fh5co-uppercase-sm">Interactive Developers</h4>
											<p>You choose everything that is in your app but we give suggestions too. we provide mother-like care for your app by listening and providing feedback</p>
										</div>
										<div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 fh5co-text animate-object features-2-animate-6">
											<span class="fh5co-icon"><%= fa_icon "dollar" %></span>
											<h4 class="fh5co-uppercase-sm">User Satisfaction / money-back guarantee </h4>
											<p>We humbly praise ourseleves for our 100% user satisfaction </p>
										</div>

									</div>
					    		</div>
					    		<div class="col-md-4 col-md-pull-4 fh5co-image animate-object features-2-animate-2">
					    			<p class="text-center">
					    			<%= image_tag 'iphone_6_3.png' %>
					    			</p>
					    		</div>

					    	</div>
					    </div>
					</div>

			    </div>




				<div id="fh5co-counter" class="fh5co-bg-section" style="background-image: url(../assets/1.jpg); background-attachment: fixed;">
					<div class="fh5co-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="fh5co-hero-wrap">
									<div class="fh5co-hero-intro text-center to-animate counter-animate">
										<div class="col-md-4 text-center">
											<span class="fh5co-counter js-counter" >32</span>
											<span class="fh5co-counter-label">Customers</span>

										</div>
										<div class="col-md-4 text-center">
											<span class="fh5co-counter js-counter">38</span>
											<span class="fh5co-counter-label">Completed Apps</span>


										</div>
										<div class="col-md-4 text-center">

											<span class="fh5co-counter js-counter" >50</span>
											<span class="fh5co-counter-label">Research and Design</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div id="fh5co-features-3" data-section="benefits">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead animate-single features3-animate-1">Our Developers</h2>
								<p class="fh5co-sub animate-single features3-animate-2"></p>
							</div>

							<div class="col-md-4 col-sm-6 col-md-offset-2 text-center fh5co-text-wrap">
								<div class="fh5co-text to-animate">
				    				<span class="fh5co-icon "><%=fa_icon "github" %></span>
									<h4 class="fh5co-uppercase-sm">Fortune J</h4>
									<p>Front-end designer
								Ruby on rails developer
								 Ruby programmer and javascript
								 Graphics Designer
								 Clear and Deep web Researcher
									 CEO Fcoders.co </p>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 col-md-offset- text-center fh5co-text-wrap">
								<div class="fh5co-text to-animate">
				    				<span class="fh5co-icon"><%=fa_icon "github" %></span>
									<h4 class="fh5co-uppercase-sm">Kingkyle</h4>
									<p>PHP web developer
								 Server Manager
								 Webmail/SMTP Expert
								 Graphics Designer
								 Partner And CFO Fcoders.co </p>

								</div>
							</div>




						</div>
					</div>
				</div>



				<div id="fh5co-pricing" data-section="pricing">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
								<h2 class="fh5co-lead animate-single pricing-animate-1">Offers for everyone</h2>
								<p class="fh5co-sub animate-single pricing-animate-2"></p>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
							<%= link_to new_product_path, class: "fh5co-figure" do %>
									<span class="fh5co-price">$15<span>/topic</span></span>
									<h3 class="fh5co-figure-lead">Clear-net Research</h3>
									<p class="fh5co-figure-text">Deep keywords research for any purposes, exampleProject topics, assignments and  web work</p>
								<% end %>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
									<%= link_to new_product_path, class: "fh5co-figure" do %>
									<span class="fh5co-price">$30<span>/topic/links</span></span>
									<h3 class="fh5co-figure-lead">Deep web Research</h3>
									<p class="fh5co-figure-text">we also offer deep-web research and links in other for our customers to avoid scammers and fake news its for educational purposes only</p>
									<% end %>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
								<%= link_to new_product_path, class: "fh5co-figure" do %>
									<span class="fh5co-price">$25<span>/webmail/SMTP</span></span>
									<h3 class="fh5co-figure-lead">Webmail/SMTP</h3>
									<p class="fh5co-figure-text">Configured and tested webmails and SMTPS are also avaliable for sell</p>
								<% end %>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">

										<%= link_to new_product_path, class: "fh5co-figure active pricing-feature" do %>
									<span class="fh5co-price">$150<span>/prototype</span></span>
									<h3 class="fh5co-figure-lead">Prototypes/cloning</h3>
									<p class="fh5co-figure-text">for educational purposes we can offer to clone websites of your choice. note we only host clones on special request</p>
								<% end %>
							</div>
							<div class="col-md-8 col-md-offset-2 to-animate">
							<%= link_to new_product_path, class: "fh5co-figure" do %>
									<span class="fh5co-price">$200<span>/Full websites</span></span>
									<h3 class="fh5co-figure-lead">fully responsive websites</h3>
									<p class="fh5co-figure-text">We will create and host your dreams. we will create a moblie responsive and dynamic app </p>
								<% end %>
							</div>
						</div>
					</div>
				</div>



				<div id="fh5co-subscribe">
					<div class="container">
						<div class="row animate-box">
							<form action="#" method="post">
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="First Name">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="Last Name">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<input type="email" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-3 col-sm-3">
									<div class="form-group">
										<input type="submit" class="btn btn-primary" value="Subscribe">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


			</div>
		</div>


	</body>
</html>
