<header class="intro-header" style="background-image: url('../assets/1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 style="color: white">Request a work</h1>
                    <hr class="small">
                    <span class="subheading"> Request Our services</span>
                    <span class="subheading"> Remeber to type in your Email </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row text-center">
    <div class= "col-md-8 col-md-offset-2 col-xm-offset-2">
      <%= render 'form' %>
      </div
    </div>
  </div>

  				<div id="fh5co-pricing" data-section="pricing">
  					<div class="container">
  						<div class="row">
  							<div class="col-md-8 col-md-offset-2 fh5co-section-heading text-center">
  								<h2 class="fh5co-lead animate-single pricing-animate-1">Offers for everyone</h2>
  								<p class="fh5co-sub animate-single pricing-animate-2"></p>
  							</div>

  							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
  							<%= link_to new_product_path, class: "fh5co-figure" do %>
  									<span class="fh5co-price">$15<span>/topic</span></span>
  									<h3 class="fh5co-figure-lead">Clear-net Research</h3>
  									<p class="fh5co-figure-text">Deep keywords research for any purposes, exampleProject topics, assignments and  web work</p>
  								<% end %>
  							</div>
  							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
  									<%= link_to new_product_path, class: "fh5co-figure" do %>
  									<span class="fh5co-price">$30<span>/topic/links</span></span>
  									<h3 class="fh5co-figure-lead">Deep web Research</h3>
  									<p class="fh5co-figure-text">we also offer deep-web research and links in other for our customers to avoid scammers and fake news its for educational purposes only</p>
  									<% end %>
  							</div>
  							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">
  								<%= link_to new_product_path, class: "fh5co-figure" do %>
  									<span class="fh5co-price">$25<span>/webmail/SMTP</span></span>
  									<h3 class="fh5co-figure-lead">Webmail/SMTP</h3>
  									<p class="fh5co-figure-text">Configured and tested webmails and SMTPS are also avaliable for sell</p>
  								<% end %>
  							</div>
  							<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 to-animate">

  										<%= link_to new_product_path, class: "fh5co-figure active pricing-feature" do %>
  									<span class="fh5co-price">$150<span>/prototype</span></span>
  									<h3 class="fh5co-figure-lead">Prototypes/cloning</h3>
  									<p class="fh5co-figure-text">for educational purposes we can offer to clone websites of your choice. note we only host clones on special request</p>
  								<% end %>
  							</div>
  							<div class="col-md-8 col-md-offset-2 to-animate">
  							<%= link_to new_product_path, class: "fh5co-figure" do %>
  									<span class="fh5co-price">$200<span>/Full websites</span></span>
  									<h3 class="fh5co-figure-lead">fully responsive websites</h3>
  									<p class="fh5co-figure-text">We will create and host your dreams. we will create a moblie responsive and dynamic app </p>
  								<% end %>
  							</div>
  						</div>
  					</div>
  				</div>
