<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>FCODERS | Your all you need IT Tech & Developers</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Your all you need tool and friends that assure you 100% business, career or educatinal boost. we provide you with web app creation, SEO, Research, Links and News for our Blog this is the official sites of fcoders" />
	<meta name="keywords" content="Web,& Mobile developers html5, css3, mobile first, responsive, darknet journalist, SEO, BLOG NEWS, webmail/SMTP " />
	<meta name="author" content="FCODERS.ml" />
  <meta property=”og:title” content=”Fcoders official site for your use and buisness boost”/>
  <meta property=”og:url” content=”http://fcoders.ml”/>
  <meta property=”og:description” content=”DO YOU WNNA GROW BIG IN JUST LITTLE TIME ?, BOOST YOUR BUISNESS, CAREER, EDUCATION, LIFE EASILY HERE AT FCODERS”/>

    <!-- Bootstrap Core CSS -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <%= link_to "F-coders", root_path, class: "navbar-brand" %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to "Home", root_path %>
                    </li>
                    <li>
                      <%= link_to "Orders", products_path %>
                    <li>
                      <%= link_to "Blog", blog_path %>
                    <% if user_signed_in? %>
                    <li>
                    <%= link_to "Admin", new_post_path %>
                    </li>
                    <li>
                    <%= link_to "log out", destroy_user_session_path, :method => :delete %>
                    <% end %>

                    <li>
                       <%= link_to "Contact Us", contact_index_path %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->



                     <%= yield %>

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">

                  <%= link_to Admin, new_user_session_path %><p class="copyright text-muted"> &copy; <%= link_to Fortunes, new_admin_session_path %> creations 2016</p>
                    <p class="fh5co-social-icons">
                      <a href="#"><%= fa_icon "facebook" %></a>
                      <a href="#"><%= fa_icon "twitter" %></a>
                      <a href="#"><%= fa_icon "skype" %></a>
                      <a href="#"><%= fa_icon "icq" %></a>
                      <a href="#"><%= fa_icon "whatsapp" %></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>






</body>
</html>
